[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
sqlalchemy = "*"
cloud-sql-python-connector = {extras = ["pymysql"], version = "*"}
mysql-connector-python = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
