[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configparser = "*"
sqlalchemy = "*"
cloud-sql-python-connector = {extras = ["pymysql"], version = "*"}
mysql-connector-python = "*"
pydantic = "*"
termcolor = "*"
fastapi = "*"
pandas = "*"

[dev-packages]
devtools = "*"

[requires]
python_version = ">=3.11"
